/* DEFAULTS */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

p {
  font-size: 20px;
  margin: 0;
}

img {
  width: 100%;
}

/* END DEFAULT */

.form-container {
  margin-top: 3%;
  border-radius: 5px;
  padding: 5% !important;
}

.box {
  background-color: #1633ff !important;
  padding: 2% !important;
}
.box-right {
  border-top-right-radius: 5px;
}
.box-left {
  border-top-left-radius: 5px;
  border-right: 1px solid black;
}

.active-tab {
  background-color: white !important;
}

.surveys-page {
  background: white;
}

.padding-bottom {
  padding-bottom: 5%;
}

.push-top {
  margin-top: 5% !important;
}

.push-top-sm {
  margin-top: 2% !important;
}

.push-bottom {
  margin-bottom: 5% !important;
}

.push-bottom-xs {
  margin-bottom: 2% !important;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

nav .brand-logo {
  left: 5%;
}

.hidden {
  display: none;
}

.survey-title {
  font-size: 20px;
}
.survey-value {
  font-size: 20px;
}

.btn-blue {
  background-color: #22408f !important;
}

.btn-blue i {
  font-size: 25px;
  margin: 0;
}

.custom-card-size{
  width: 60%;
  margin: auto;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* NAV */

  nav {
    box-shadow: none;
    line-height: 5px;
    background-color: #22408f !important;
    padding-bottom: 85px;
  }

  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .nav-logo {
    margin-left: 3%;
  }

  .nav-setter {
    width: 100%;
  }

  .nav-items-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* END NAV */
  .push-right{
    margin-right: 3px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  nav {
    padding-bottom: 75px;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  .nav-setter {
    width: 55%;
  }

  .nav-items-container {
    width: 100%;
    margin-top: 2%;
  }

  .nav-name {
    margin-left: 5px;
  }

  .push-right {
    margin-right: 5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* NAV */

  nav .brand-logo i.material-icons {
    margin: 0;
    float: none;
    font-size: 40px;
  }

  nav ul li {
    float: none;
  }

  .navigation {
    display: flex;
    align-content: center;
    padding: 0% 5%;
  }

  .nav-setter {
    width: 45%;
  }

  .nav-items-container {
    width: 100%;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* END NAV */
}

@media only screen and (min-width: 992px) {
  /* NAV */

  .nav-setter {
    width: 35%;
  }

  .nav-items-container {
    width: 100%;
  }

  /* END NAV */
}
