.form-container {
  margin-top: 3%;
  border-radius: 5px;
  padding: 5% !important;
}

.background {
  background-color: #0d47a1 !important;
}

.box {
  background-color: #1565c0 !important;
  padding: 2% !important;
}
.box-right {
  border-top-right-radius: 5px;
}
.box-left {
  border-top-left-radius: 5px;
  border-right: 1px solid black;
}

.active-tab {
  background-color: #1e88e5 !important;
}

.surveys-page {
  background: white;
}

.padding-bottom {
  padding-bottom: 5%;
}

.push-top {
  margin-top: 5%;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
